/*全体のレイアウト構成*/
.sidebar {
	position: -webkit-sticky;
	position: sticky;
	top: 100px;
}

.main {
	margin-top: 100px;
}

/*リストページ*/
.card {
    width: 200px;
    height: 280px;
    margin: 0.5em 0.3em;
    padding: 0.5em 0.5em;
}

.card-img-top {
    width: 180px;
    height: 160px;
}

