<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}" />
    <link rel="canonical" href="{{ .Permalink }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> 
        {{ if not .IsNode }}{{ .Title }} - {{ end }}{{ .Site.Title }} Memo
    </title>

    {{ $description := ""}}
    {{ if .Description }}
        {{ $description = .Description }}
    {{ else if .Summary }}
        {{ $description = .Summary }}
    {{ else if isset .Site.Params "description" }}
        {{ $description = .Site.Params.description }}
    {{ end }}
    {{ with $description }}
      <meta name="description" content="{{ . }}" />
    {{ end }}

    {{ with .Site.Params.author }}
      <meta name="author" content="{{ . }}" />
    {{ end }}

    {{ partial "head_og" . }}
    {{ partial "head_style" . }}

    <!-- {{ partial "meta.html" . }} -->
    {{ with .Site.Params.googlefonts }}
    <link href="{{ . }}" rel="stylesheet">
    {{ else }}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
    {{ end }}
    <link rel="stylesheet" href="/css/style.css">

  </head>

  <body style="background-color: #f6f6f6">

    <header class="fixed-top">
      <div class="container">
        <div class="container-fluid">
          <div class="row align-items-center">
            <!-- PC -->
            <div class="col-lg-6 d-none d-lg-block text-left">
                <nav>
                    <ul class="list-inline">
                        <li class="list-inline-item ml-4"><a href="/works/">Works</a></li>
                        <li class="list-inline-item ml-4"><a href="/blog/">Blog</a></li>
                        <li class="list-inline-item ml-4"><a href="/profile/">Profile</a></li>
                        <!-- <li class="list-inline-item ml-4"><a href="/vlog/">Vlog</a></li> -->
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4 d-none d-lg-block text-center mt-3">
                <p class=""><img src="" alt="">{{ .Site.Title }}</a></p>
            </div>
            <div class="col-lg-2 d-none d-lg-block text-left">
              {{ with .Site.Params.facebook }}
                <a href="{{ . }}"><i class="fab fa-facebook-square fa-2x icon-facebook"></i></a>
              {{ end }}
              {{ with .Site.Params.youtube }}
                <a href="{{ . }}"><i class="fab fa-youtube"></i></a>
              {{ end }}
              {{ with .Site.Params.email }}
                <a href="{{ . }}"><i class="fab fa-2x fa-envelope"></i></a>
              {{ end }}
            </div>
            <!-- スマホ -->
            <div class="col-8 d-lg-none d-block offset-2 text-center mt-3">
                <p class=""><img src="" alt="">{{ .Site.Title }}</a></p>
            </div>
            <div class="col-2 d-lg-none float-right text-right align-self-center">
                <a href=""><i class="fas fa-bars fa-2x "></i></a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <ol  class="breadcrumb">
                {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
              </ol>
              {{ define "breadcrumbnav" }}
              {{ if .p1.Parent }}
              {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
              {{ else if not .p1.IsHome }}
              {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
              {{ end }}
              <li{{ if eq .p1 .p2 }} class="active"{{ end }}>
                <a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
              </li>
              {{ end }}
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-9">
              {{ block "main" . }}{{ end }}
            </div>
            <div class="col-lg-3 d-none d-lg-block">
              {{ partial "sidebar" . }}
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 site-footer">
            <p class="text-center">(C) 2019 Daichi Sugiyama</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>