{{ define "main" }}
<h1>All</h1>
<div class="card">
    <h*><span class="badge badge-secondary">プログラミング</span></h*>
    <h*><span class="badge badge-secondary">Bootstrap</span></h*>
    <p class="card-title">
        Bootstrapのグリッドレイアウトって何？
    </p>
    <p class="card-subtitle">
        サブタイトル・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・
    </p>
    <p>2019年11月19日</p>
</div>

<div class="card">
    <h*><span class="badge badge-secondary">プログラミング</span></h*>
    <h*><span class="badge badge-secondary">Bootstrap</span></h*>
    <p class="card-title">
        Bootstrapのマージンはどのように実現できるか？
    </p>
    <p class="card-subtitle">
        サブタイトル・・・・・・\・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・
    </p>
    <p>2019年11月19日</p>
</div>

<div class="card">
    <h*><span class="badge badge-secondary">プログラミング</span></h*>
    <h*><span class="badge badge-secondary">CSS</span></h*>
    <p class="card-title">
        CSSのスタイルって何？
    </p>
    <p class="card-subtitle">
        サブタイトル・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・
    </p>
    <p>2019年11月19日</p>
</div>
{{ end }}