<header class="py-1 mp-2 fixed-top" style="box-shadow: 0px 2px 5px rgba(0,0,0,0.15)">
    <div class="container">
        <div class=" container-fluid">
            <div class="row align-items-center clearfix">
                <div class="col-lg-6 d-none d-lg-block text-left">
                    <nav>
                        <ul class="list-inline">
                            <li class="list-inline-item ml-4"><a href="works/">Works</a></li>
                            <li class="list-inline-item ml-4"><a href="blog/">Blog</a></li>
                            <!-- <li class="list-inline-item ml-4"><a href="vlog/">Vlog</a></li>                                 -->
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 d-none d-lg-block text-center mt-3">
                    <p class=""><img src="" alt="">Daichi Sugiyama <br />杉山大知</a></p>
                </div>
                <div class="col-8 d-lg-none d-block offset-2 text-center mt-3">
                    <p class=""><img src="" alt="">Daichi Sugiyama 杉山大知</a></p>
                </div>
                <div class="col-lg-2 d-none d-lg-block text-left">
                    <!-- <a href="https://twitter.com/sugiyama_ars"><i class="fab fa-twitter fa-2x icon-twitter"></i></a> -->
                    <a href="https://facebook.com/daichi.sugiyama.2012"><i class="fab fa-facebook-square fa-2x icon-facebook"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fab fa-youtube-play"></i></a>
                    <a href=""><i class="fab fa-2x fa-envelope"></i></a>
                </div>
                <div class="col-2 d-lg-none float-right text-right align-self-center">
                    <a href=""><i class="fas fa-bars fa-2x "></i></a>
                </div>

            </div>
        </div>
    </div>
</header>