<h1>Blog</h1><br />いわゆるブログ<br /><br /><br /><br />
<div class="container-fliud">
    <h2>分析<br /></h2>
    <div class="row mx-auto">
        <div class="card">
            <h*><span class="badge badge-secondary">New</span></h*>
            <p class="card-title">
                Qiitaのレイアウト
            </p>
            <img class="card-img-top" src="https://placehold.jp/20x81.png">
            <p>2019年11月19日</p>
        </div>
        <div class="card">
            <h*><span class="badge badge-secondary">New</span></h*>
            <p class="card-title">
                Cookpadのレイアウト
            </p>
            <img class="card-img-top" src="https://placehold.jp/20x81.png">
            <p>2019年11月19日</p>
        </div>
        <div class="card">
            <h*><span class="badge badge-secondary">New</span></h*>
            <p class="card-title">
                Bootstrapの使い方
            </p>
            <img class="card-img-top" src="https://placehold.jp/20x81.png">
            <p>2019年11月19日</p>
        </div>
        <div class="card">
            <h*><span class="badge badge-secondary">New</span></h*>
            <p class="card-title">
                Bootstrapの使い方
            </p>
            <img class="card-img-top" src="https://placehold.jp/20x81.png">
            <p>2019年11月19日</p>
        </div>
    </div>
    <h2>設計<br /></h2>
    <div class="row mx-auto">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://placehold.jp/50x50.png" alt="" width="257" height="50">
            <p class="card-title">
                ゲームキャラクターの引き出し
            </p>
            <h*><span class="badge badge-secondary">New</span></h*>
            <p>2019年11月19日</p>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="https://placehold.jp/50x50.png" alt="" width="257" height="50">
            <p class="card-title">
                Bootstrap 備忘録
            </p>
            <h*><span class="badge badge-secondary">New</span></h*>
            <p>2019年11月19日</p>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="https://placehold.jp/100x81.png" alt="" width="257" height="50">
            <p class="card-title">
                Bootstrapの使い方
            </p>
            <h*><span class="badge badge-secondary">New</span></h*>
            <p>2019年11月19日</p>
        </div>
    </div>
    <h2>開発<br /></h2>
    <div class="row mx-auto">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://placehold.jp/50x50.png" alt="" width="257" height="50">
            <p class="card-title">
                ConoHaVPSでファイルサーバーを構築ｓる
            </p>
            <h*><span class="badge badge-secondary">New</span></h*>
            <p>2019年11月19日</p>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="https://placehold.jp/50x50.png" alt="" width="257" height="50">
            <p class="card-title">
                Bootstrap 備忘録
            </p>
            <h*><span class="badge badge-secondary">New</span></h*>
            <p>2019年11月19日</p>
        </div>
    </div>
</div>