<div class="sidebar">

{{ if and .Section }}
    {{ $root_section_page := .Site.GetPage .Section }}
        {{ if eq $root_section_page.Kind "section" }}
        {{ $section_category_data := partial "function/get_all_category_pages" $root_section_page }}
        {{ if $section_category_data.child_section_category_data_list }}
            <div class="m-aside-widget__category">
                {{ template "category" $section_category_data.child_section_category_data_list }}
            </div>
        {{ end }}
    {{ end }}
{{ end }}
{{ define "category" }}
    <ul class="m-aside-widget__category-list" >
        {{ range . }}
            <li class="m-aside-widget__category-list-item">
                <a class="m-aside-widget__category-list-item-link" href="{{ .section.Permalink }}">
                    <span class="m-aside-widget__category-list-link-title" >{{ .section.Title }}
                    <span class="m-aside-widget__category-list-link-count"> ({{ len .all_child_pages }}) </span>
                </a>
            </li>
            {{ if .child_section_category_data_list }}
                {{ template "category" .child_section_category_data_list }}
            {{ end }}
        {{ end }}
    </ul>
{{ end }}

    <header><a href="{{ .Site.BaseURL }}categories">CATEGORIES</a></header>
    {{ $home := .Site.Home }}
    <nav class="category-tree-side">
        <ul>
            {{ template "categoryTree" $home }}
        </ul>
    </nav>

{{ define "categoryTree" }}
    {{ range .Sections.ByWeight}}
            <li>
                {{ if gt (len .Sections) 0}}
                    <details open>
                        <summary>
                            <a href="{{.Permalink}}">{{ .Title }}</a><span>({{template "numArticle" .}})</span>
                        </summary>
                        <ul>
                            {{ if gt (len .Sections) 0}}
                                {{ template "categoryTree" . }}
                            {{end}}
                        </ul>
                    </details>
                {{ else }}
                    <i class="fas fa-folder-open  fa-fw"></i><a
                        href="{{.Permalink}}">{{ .Title }}</a><span>({{template "numArticle" .}})</span>
                {{ end }}
            </li>
    {{ end }}
{{ end }}

    {{define "numArticle"}}
    {{$indexScratch := newScratch}}
    {{$indexScratch.Set "numArticle" (len .Pages)}}

    {{if not .IsHome }}

        {{ range .Sections.Reverse}}
            {{ $indexScratch.Add "numArticle" (len .Pages)}}

            {{ if ge (len .Section) 0}}
                {{ range .Sections.Reverse}}
                    {{ $indexScratch.Add "numArticle" (len .Pages)}}

                    {{ if ge (len .Section) 0}}
                        {{ range .Sections.Reverse}}
                            {{ $indexScratch.Add "numArticle" (len .Pages)}}

                            {{ if ge (len .Section) 0}}
                                {{ range .Sections.Reverse}}
                                   {{ $indexScratch.Add "numArticle" (len .Pages)}}
                                {{ end }}
                            {{ end }}

                        {{ end }}
                    {{ end }}

                {{ end }}
            {{ end }}

        {{ end }}
    {{ end }}

    {{ $indexScratch.Get "numArticle"}}
    {{ $indexScratch.Delete "numArticle"}}
{{end}}

    Category
    <nav>
        <ul class="">
            <li><a href="blog/blog">ブログ運営</a></li>
            <li><a href="blog/research">研究</a></li>
            <li><a href="blog/review">レビュー</a></li>
            <li><a href="blog/programming">プログラミング</a></li>
        </ul>
    </nav>

    History
    <nav>
        <ul class="">
            <li><a href="blog/analysis">2019年11月</a></li>
            <li><a href="blog/design">2019年10月</a></li>
            <li><a href="blog/develop">2019年9月</a></li>
            <li><a href="blog/creativelog">2019年8月</a></li>
        </ul>
    </nav>

</div>