<div class="sidebar">


    Category
    <nav>
        <ul class="">
            <li><a href="blog/blog">ブログ運営</a></li>
            <li><a href="blog/research">研究</a></li>
            <li><a href="blog/review">レビュー</a></li>
            <li><a href="blog/programming">プログラミング</a></li>
        </ul>
    </nav>

    History
    <nav>
        <ul class="">
            <li><a href="blog/analysis">2019年11月</a></li>
            <li><a href="blog/design">2019年10月</a></li>
            <li><a href="blog/develop">2019年9月</a></li>
            <li><a href="blog/creativelog">2019年8月</a></li>
        </ul>
    </nav>

</div>